@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    border: none;
    letter-spacing: 2px;
    transition: all .2s linear;
}


button,
input,
select,
textarea {
	font: inherit;
}

img {
	display: block;
}

strong {
	font-weight: 600;
}

.body{
    background:#121212;
}

.match{
	margin: 10px;
	padding: 1rem 0 ;
	background: url(./images/Bg\ BANNER.p);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	width: 600px;
	box-shadow: 0 0 2px 0 rgba(#303030, 0.1), 0 4px 4px 0 rgba(#303030, 0.1);
}

.match-header {
	display: flex;
	border-bottom: 2px solid rgba(#303030, 0.1);
	padding: 16px;
}

.match-status {
	background-color: var(--color-bg-alert);
	color: #f6f2f2;
	padding: 8px 12px;
	border-radius: 6px;
	font-weight: 600;
	font-size: 20px;
	display: flex;
	align-items: center;
	line-height: 1;
	margin-right: auto;
	&:before {
		content: "";
		display: block;
		width: 6px;
		height: 6px;
		background-color: currentColor;
		border-radius: 50%;
		margin-right: 8px;
	}
}

.match-tournament {
	display: flex;
	align-items: center;
	font-weight: 600;
	margin-right: 10rem;
	img {
		width: 20px;
		margin-right: 12px;
	}
}

.match-actions {
	display: flex;
	margin-left: auto;
}

.btn-icon {
	border: 0;
	background-color: transparent;
	color: var(--color-text-icon);
	display: flex;
	align-items: center;
	justify-content: center;
}

.match-content {
	display: flex;
	position: relative;
}

.column {
	padding: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(100% / 3);
}

.team {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.team-logo {
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: var(--color-bg-primary);
	box-shadow: 0 4px 4px 0 rgba(#303030, 0.15),
		0 0 0 15px var(--color-bg-secondary);
	img {
		width: 50px;
	}
}

.team-name {
	text-align: center;
	margin-top: 24px;
	font-size: 20px;
	font-weight: 600;
	color: #f6f2f2;
}

.match-details {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.match-date
 {
	font-size: 1.2rem;
	color: #121212;
}.match-date strong{
	color: #121212;
}


.match-score {
	margin-top: 12px;
	display: flex;
	align-items: center;
}

.match-score-number {
	font-size: 48px;
	font-weight: 600;
	line-height: 1;
	&--leading {
		color: var(--color-theme-primary);
	}
}

.match-score-divider {
	font-size: 28px;
	font-weight: 700;
	line-height: 1;
	color: var(--color-text-icon);
	margin-left: 10px;
	margin-right: 10px;
}

.match-time-lapsed {
	color: #e7e80e;
	font-size: 2rem;
	font-weight: 600;
	margin-top: 8px;
}


.match-bet-place {
	position: absolute;
	bottom: -16px;
	left: 50%;
	transform: translateX(-50%);
	border: 0;
	background-color: var(--color-theme-primary);
	border-radius: 6px;
	padding: 10px 48px;
	color: #121212;
	font-size: 1.5rem;
	box-shadow: 0 4px 8px 0 rgba(#303030, 0.25);
}

.container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

