@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    border: none;
    letter-spacing: 2px;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

a{
    text-decoration: none;
}
.btn{
	padding:1rem 8rem;
	background:#121212;
	border: 1px solid #e7e80e;
	overflow: hidden;
	position: relative;
	display:inline-block;
	vertical-align:middle;
	text-decoration: none;
	text-transform: uppercase;
    color: #e7e80e;
    font-size: 2rem;
    
}
.btn::after{
    background: #fff !important;
	content: "";
	height: 155px;
	left: -75px;
	opacity: .2;
	top: -50px;
	width: 50px;
	z-index:5;
	position: absolute;
	transform: rotate(35deg);
	transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
.btn:hover::after{
    left: 100%;
}

.body{
    background:#121212;
}
section{
    padding:2rem 2% ;
}
.header{
    position: fixed;
    align-items: center;
    justify-content: space-between;
    display: flex;
    top: 0;
    left:0;
    right: 0;
    padding:30px 100px;
    background: transparent;
    z-index: 1000;
}
.header.sticky{
    padding:10px 100px ;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(7px);
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.4) ;
}
.header .logo img{
    height: 10rem;
    width: 10rem;
}
.header.sticky .logo img{
    height: 6rem;
    width: 6rem;
}


.header .navbar a{
    font-size: 1.7rem;
    position: relative;
    margin: 0 1rem;
    color:#fff;
    letter-spacing: 2px;
}

.header .navbar a::before{
    position: absolute;
    content: '';
    width: 100%;
    background: #e7e80e;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

.header .navbar a:hover::before{
    color: #e7e80e;
    width: 100%;
}


.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    color:#f6f2f2;
    margin-left: .3rem;
    font-size: 2rem;
    text-align: center;    
    cursor: pointer;
}
.header.sticky .icons div{
    color: #e7e80e;
}
.header .icons div:hover{
    color: #e7e80e;
}
#menu-btn{
    display: none;
}
.header .login-form{
    position: absolute;
    top: 110%; right: -110%;
    width: 35rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    padding: 2rem;
    border-radius: .5rem;
    background:transparent;
    backdrop-filter: blur(10px);
    text-align: center;
}
.header .login-form.active{
    right: 2rem;
    transition: .4s linear;
}
.header .login-form h3{
    font-size: 2.5rem;
    color:#e7e80e;
    text-transform: uppercase;
}
.header .login-form .box{
    margin: .7rem 0;
    width: 100%;
    background: #eee;
    padding: 1rem;
    font-size: 1.6rem;
    color:#e7e80e;
    text-transform: none;
}
.header .login-form p{
    font-size: 1.4rem;
    padding: .5rem 0;
    color:#999;
}
.header .login-form p a{
    color:#e7e80e;
    letter-spacing: 2px;
    padding-left: 1rem;
}
.Home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./images/black-smooth-textured-paper-background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 120vh;
}
.Home .content{
    position: relative;
    width: 100%;
    text-align: center;
}
.Home .content h1{
    color:#e7e80e;
    font-size: 20rem;
    font-weight: 900;
    letter-spacing: 2px;
}
.Home .content h2{
    color:#d3d3d3;
    font-size: 20rem;
    font-weight: 900;
    letter-spacing: 2px;
}
.content img{
    position: absolute;
    top: -1rem;
    left: 50rem;
    background-attachment: fixed;
    animation-name:infiniteupdown;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transition: all .2s;
}
@keyframes infiniteupdown{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}
.heading{
    font-size: 5rem;
    text-align: center;
    line-height: 160px;
    font-weight: 800;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px #f6f2f2;
  }
.player{
    width: 750px;
    height: 350px;
    box-shadow: 0 15px 30px rgba(58, 20, 31,0.1);
    position: relative;
    background: url(./images/black-smooth-textured-paper-background.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-shrink: 1;
    margin-top: 10rem;
}
.playerinfo{
    padding: 6rem 4rem;
    display: flex;
    position: relative;
}
.playername{
    font-size:3.5rem;
    font-weight: 700;
    color: #fff;
    padding: 6rem 4rem;
}
.playerteam{
    font-size: 2rem;
    font-weight: 400;
    color: #e7e80e;
    display: block;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}
.playerstats{
    background:url(./images/images/cardimg.jpg);
    box-shadow: 15px 15px 30px rgba(58, 20, 31,0.1);
    width: 350px;
    position: absolute;
    left: -40px;
    bottom: -10px;
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 2.25rem;
    border-radius:10px ;
    outline-offset: -.3rem;
    outline:.1rem solid rgba(0,0,0,0.1);
}
.playerstats:hover{
    outline:.2rem solid #e7e80e;
    outline-offset:0rem;
}
.player-stat{
    font-size: 0.75rem;
    color: #e7e80e;
    text-transform: uppercase;
}
.player-stat-number{
    margin-top: 0.375rem;
    font-size: 2.25rem;
    font-weight: 700;
    color: #e7e80e;
}
.player-img{
    display: flex;
    position: relative;
    width: 280px;
}
.player-img img{
    display: block;
    position: absolute;
    width: 400px;
    right: -15rem;
    bottom: 0;
}

.container > *{
   margin-left: 23%;
   margin-bottom: 10% ;
}

.footer {
    background: #121212;
}

.footer .logo img {
    height: 20rem;
    width: 20rem;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    color: #e7e80e;
    padding: 1rem 0;
    position: relative;
    cursor: pointer;
}

.footer .box-container .box .logo {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
}

.footer .box-container .box .logo span {
    color: #e7e80e;
}

.footer .box-container .box .logo i {
    color: #7cfc00;
}

.footer .box-container .box h3::after {
    content: '';
    height: 3px;
    width: 0px;
    background: #e7e80e;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.2s ease;
}

.footer .box-container .box h3:hover::after {
    width: 100px;
}

.footer .box-container .box h3 i {
    color: #e7e80e;
}

.footer .box-container .box .links {
    display: block;
    font-size: 1.5rem;
    color: #f6f2f2;
    padding: 1rem 0;
    position: relative;
}

.footer .box-container .box .links::before {
    content: '';
    height: 22px;
    width: 3px;
    position: absolute;
    top: 10px;
    left: -9px;
    background: #e7e80e;
    transition: .2s ease;
    opacity: 0;
}

.footer .box-container .box .links:hover::before {
    opacity: 1;
}

.footer .box-container .box .links:hover {
    padding-left: 2rem;
}

.footer .box-container .box p {
    line-height: 1.8;
    font-size: 1.5rem;
    color: #d0f0c0;
    padding: 1rem 0;
}

.footer .box-container .box .share a i {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color: #e7e80e;
    margin-left: .5rem;
    background: #d0f0c077;
    text-align: center;
}

.footer .box-container .box .share a i:hover {
    background: #e7e80e;
    color: #fff;
    transform: scale(1.2);
}

.footer .box-container .box .email {
    margin: .7rem 0;
    padding: 1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color: #e7e80e;
    text-transform: none;
    width: 100%;
}

.footer .box-container .box .payment-img {
    margin-top: 2rem;
    height: 3rem;
}

.footer .credit {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #d0f0c0;
    border-top: .2rem solid rgba(0, 0, 0, .1);
}

.footer .credit span {
    color: #e7e80e;
}


.nbt {
    padding: 1rem 8rem;
    background: #121212;
    border: 1px solid #e7e80e;
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
    color: #e7e80e;
    font-size: 2rem;
}

.nbt::after {
    background: #fff !important;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    top: -50px;
    width: 50px;
    z-index: 5;
    position: absolute;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.nbt:hover::after {
    left: 100%;
}


.heading {
    font-size: 5rem;
    text-align: center;
    line-height: 80px;
    font-weight: 800;
    margin-left: -10px;
    margin-bottom: -80px;
    color: transparent;
    -webkit-text-stroke: 1px #f6f2f2;
}